.text-center{
    text-align: center;
}

.border-black {
    border: 1px solid #000;
}

.p-1 {
    padding: 10px;
}

.col{
    box-sizing: border-box;
    display: inline-block;
}

.col.col-4{
    width: 33%;
}
.col.col-8{
    width: 66%;
}